@model PAW_CATALOG_PROJ.Models.Message

@{
    ViewData["Title"] = "Message Details";
}

<h1 class="mb-4">Message Details</h1>

<div class="card shadow-sm p-4 mb-4">
    <h4 class="mb-3">Message Information</h4>
    <dl class="row">
        <dt class="col-sm-3 fw-semibold">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.From.Email)
        </dd>

        <dt class="col-sm-3 fw-semibold">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Recipient.Email)
        </dd>

        <dt class="col-sm-3 fw-semibold">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>

<div class="mb-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
