@model List<PAW_CATALOG_PROJ.Models.Grade>

<h2>Note adăugate</h2>
<table class="table">
    <thead>
        <tr>
            <th>Student</th>
            <th>Curs</th>
            <th>Titlu</th>
            <th>Notă</th>
            <th>Dată</th>
            <th>Acțiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.Enrollment.Student.Name</td>
                <td>@grade.Enrollment.Course.CourseName
                </td>
                <td>@grade.Title</td>
                <td>@grade.GradeValue</td>
                <td>@grade.DateRecorded.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = grade.GradeId })">Editează</a> |
                    <a href="@Url.Action("Delete", new { id = grade.GradeId })">Șterge</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Create")" class="btn btn-primary">Adaugă notă</a>
